body {
    background-color: rgb(160, 129, 158);
    font-family: arial;
}

h1 {
    font-size: 30px;
    font-style: ariel;
}
a {
    color: rgb(148, 200, 245);
    text-decoration: underline;
}
a:hover {
    color: rgb(246, 238, 238);
    text-decoration: none;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
p {
    font-size: 16px;
    color: aliceblue;
}

li{
    color: aliceblue;
}

.container {
    border: none;
    background-color: rgb(184, 145, 171);
    border: size style color;
    
    width: auto;
    margin: left;
    padding: 25px;
    border: 5px solid black
    font-weight: bold;
    font-size: 25px;
    }

.container2 {
    border: none;
    background-color: rgb(184, 145, 171);
    border: size style color;
    
    width: 400px;
    margin: left;
    padding: 25px;
    border: 5px solid black
    font-weight: bold;
    font-size: 25px;   
    }

    .center {
        display: grid;
        place-items: center;
      }
      
    .h1-h2 {
        text-align: center;
    }


