/* ---- General ---- */
body {
    background-color: rgb(160, 129, 158);
}

h1 {
    font-size: 36px;
    font-style: ariel;
    text-align: center;
}
p1{
    font-size: 28px;
    font-style: ariel;
    color: aliceblue;
    text-align: center;
}
a {
    color: white;
    text-decoration: underline;
    font-size:20px solid;
}
a:hover {
    color: blue;
    text-decoration: none;
}
h2 {
    font-size: 33px;
}
h3 {
    font-size: 27px;
}
p {
    font-size: 25px;
    color: aliceblue;
   color: rgb(0, 0, 0);
}
 

li{
    color: aliceblue;
    font-size: 25px;
}

/* ---- Back to top ---- */

body {
    display: grid;
    grid-template-columns:justify; 
    }

.top {
--offset: auto; 

position: sticky; right: 80px;
bottom: 80px;      
margin-right: 80px; 
place-self: end;
margin-top: calc(100vh + var(--offset));

/* visual styling */

text-decoration: none;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
color: #1a0614;
background: aliceblue;
border-radius: 10px;
white-space: nowrap;
}

.container-top {
display: flex;
align-items: flex-end;
width: 60px;
}

.top {
position: sticky;
bottom: 80px;      
margin-right: 80px; 
}


/* ---- header ----- */
.container {
    border: none;
    background-color:  #f0cfe7;
    border: size style color;
    border-radius: 8px;;
    width: 100%;
    margin: left;
    padding: 0;
    border: 5px solid rgb(233, 220, 229)
    }

.h1-h2 {
        text-align: center;
}

.center {
    display: grid;
    place-items: center;
}

    /* ---- Nav_container --- */
.container2 {
    display: inline;
    border: none;
    border-radius: 8px;
    background-color: rgb(184, 145, 171);
    border: size style color;
    
    width: 400px;
    margin: left;
    padding: 1rem;
    border: 5px solid rgb(233, 220, 229) 

}

#sidebar {
    background-color: #4b2840;
    height: 60px;
    font-size: 21px;
    font-weight: bold;
    border: #f0cfe7;
    padding: 0.5rem;
}

#sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;

}

#sidebar li {
    display: inline;
    padding: 10px;
    vertical-align: middle;
}

#sidebar a {
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px 15px;
    vertical-align: middle;


}

#sidebar a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(184, 145, 171);
}
    /* ---- footer --- */

.container3 {


    display: inline-flex;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(184, 145, 171);
    border: style color;
    
    width: 100%;
    margin: left;
    padding: 1rem;
    border: 5px solid rgb(233, 220, 229) 
}


   /* ---- hero or banner area --- */

.main-image{
    position: center;
    background: url(../images/my-background1.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    width: 100%;   
}


@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.80em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.45em;
    }
    p{
        font-size: 1.40em;
        color: rgb(0, 0, 0)
    }
    p1{
        font-size: 1.25em;
        color: rgb(0, 0, 0);
    }
}