/* ---- General ---- */
body {
    background-color: rgb(160, 129, 158);
}

h1 {
    font-size: 30px;
    font-style: ariel;
}
a {
    color: rgb(148, 200, 245);
    text-decoration: underline;
}
a:hover {
    color: rgb(246, 238, 238);
    text-decoration: none;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
p {
    font-size: 16px;
    color: aliceblue;
}

li{
    color: aliceblue;
}

/* ---- Back to top ---- */


/* ---- header ----- */
.container {
    border: none;
    background-color: rgb(184, 145, 171);
    border: size style color;
    
    width: auto;
    margin: left;
    padding: 1rem;
    border: 5px solid black
    }

.h1-h2 {
    text-align: center;
}

.center {
    display: grid;
    place-items: center;
}

    /* ---- Nav_container --- */
.container2 {
    border: none;
    background-color: rgb(184, 145, 171);
    border: size style color;
    
    width: 400px;
    margin: left;
    padding: 1rem;
    border: 5px solid black 
    }


    /* ---- footer --- */
.container3 {
    border: none;
    background-color: rgb(184, 145, 171);
    border: size style color;
    
    width: auto;
    margin: left;
    padding: 1rem;
    border: 5px solid black 
    }


